<div>
    <div class="nav">
        <h1>Productos:</h1>
        <div class="user">
            <h2>Bienvenido: {{user.first_name}} {{user.last_name}}</h2>
            <button><a href="/current">Mi cuenta</a></button>
            <form action="/api/sessions/logout" method="post">
                <button type="submit">Cerrar sesión</button>
            </form>
        </div>
    </div>
    <div class="grid-container">
        {{#each products.docs}}
            <div class="container">
                <div>
                    <img class="productImg" src="{{this.thumbnail}}" alt="{{this.title}}">
                </div>
                <div class="detail">
                    <h2>{{this.title}}</h2>
                    <h3>${{this.price}}</h3>
                    <h3>Stock: {{this.stock}}</h3>
                </div>
                <button type="button">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>
    <div class="paginate">
        {{#if products.hasPrevPage}}
            <button><a href="{{products.prevLink}}">Anterior</a></button>
        {{/if}}
        <span>Pagina: {{products.page}}</span>
        {{#if products.hasNextPage}}
            <button><a href="{{products.nextLink}}">Siguiente</a></button>
        {{/if}}
    </div>
</div>

<script src="js/index.js"></script>
<script src="js/products.js"></script>

